* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
body {
  text-align: center;
}
table {
  width: 90%;
  margin: 5%;
  border-collapse: collapse;
  box-shadow: 5px 6px 4px #554044;
}

.title-cursos {
  background: #99ced4;
  color: var(--color);
  font-style: normal;
  font-weight: 400;
  height: 3.5vw;
}
.data-cursos {
  height: 2.5vw;
}

td {
  border: 1px solid black;
}
tr:nth-child(even) {
  background: gray;
  color: var(--color);
}
