* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
:root {
  --color: #fff;
  --background: #4c6c9d;
  --primary-color: #4c6c9d;
  --secondary-color: #eeb4c0;
  --footer-color: #6e7376;
}
.pestaña {
  height: 120px;
  background: var(--background);
  border-radius: 50%;
  width: 100%;
  margin-top: -25px;
  /* margin-left: -5%; */
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background: var(--background);
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

.links_container {
  display: flex;
  list-style: none;
}
.link {
  text-transform: capitalize;
  color: var(--color);
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}

.link:hover:not(.active) {
  opacity: 0.7;
}
.link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--color);
}

.link.active::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color);
}

.welcome,
.actions,
.btn_edit,
.btn_delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  width: 60%;
  height: 161px;
  margin: -35px 20% 0;
  /* background: #faf6f6; */
  background: #709cc1;
  /* Divider / Bottom */
  border-radius: 10px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}

.welcome p {
  width: 80%;
  height: auto;
  /* or 188% */
  color: var(--color);
}

.info {
  width: 70%;
  margin: 0 15%;
  overflow: auto;
  background: #faf6f6;
  /* Divider / Bottom */
  border-radius: 10px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
}
.info_client {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 5%;
  padding-top: 5%;
}
.search {
  width: 70%;
  margin: 2% 15%;
}
.search input {
  /* position: absolute; */
  padding-left: 2vw;
  text-indent: 6vw;
  width: 100%;
  height: 48px;
  background: #ffffff;
  background-image: url(/image/search.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-origin: content-box;
  /* Black / Mid */

  border: 1px solid rgba(33, 33, 33, 0.52);
  border-radius: 4px;
}

.client_data {
  width: -webkit-fill-available;
  padding-left: 2vw;
}
.client_data span {
  font-size: 1.37em;
}
.tit_info_card {
  display: flex;
  margin: 5% 5% 0 5%;
}
.tit_info_card p {
  padding: 0 1vw;
}

.info_cursos {
  margin: 0 5%;
  width: 90%;
  height: fit-content;
  min-height: 78px;
  background: #e9e9e9;
  /* Divider / Bottom */

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.info_cursos .curso:last-child {
  padding: 2vw;
}
.curso {
  width: fit-content;
  min-width: 60%;
  padding: 2vw 2vw 0;

  color: #ffffff;
  font-size: 1em;
}
.curso p {
  background-color: #4b4b4b;
  padding: 10px 5px;
  border-radius: 4px;
}

.info_coments {
  width: 90%;
  height: fit-content;
  min-height: 177px;
  margin: 0 5% 5% 5%;

  background: #e9e9e9;
  /* Divider / Bottom */

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.actions {
  display: flex;
  background: var(--footer-color);
  height: 15vh;
}
.btn_delete,
.btn_edit {
  width: 12.15vw;
  align-items: center;
  color: var(--primary-color);
  background: var(--secondary-color);
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 1.1em;
  font-weight: 600;
  padding: 15px;
  margin: auto;
  border-radius: 53px;
  border: none;
  cursor: pointer;
}
.btn_delete {
  color: #e31e18;
}
.btn_delete:hover {
  background-color: #e31e18;
  color: var(--color);
}
